link(rel='stylesheet', href='/stylesheets/datepicker.css') 
link(rel='stylesheet', href='/stylesheets/timepicker.css')
script(src='/javascripts/bootstrap-datepicker.js')
script(src='/javascripts/bootstrap-timepicker.js')
